$dark-grey: #3d3d3d;
$medium-grey: #8a8a8a;
$light-grey: #b8b8b8;
$white: #fff;
$white-transparent: rgba(255,255,255, 0.9);
$header: #3B3E47;
$red: #E57955;
$spring: #AAEB71;
$summer: #64C770;
$fall: #2FA17D;
$winter: #1D7173;
$artsy: #645473;
$boozy: #A14874;
$foodie: #C75147;
$outdoorsy: #EB8245;
