
.entry-screen {
  width: 80%;
  margin: 0 auto;
}

header {
  text-align: center;
  margin: 3em;
}

.user-nav {
  text-align: right;
  margin: 1em;
}

.log-in {
  text-align: center;
}

.container {
  margin: 20px auto;
  text-align: center;
  // border: 1px solid $light-grey;
  // background-color: $white;
  // width: 300px;
  // height:300px;
}

.user-page {
  display: none;
}

.comment {
  background-color: $white;
  height: 100px;
  width: 500px;
  display: block;
  padding: 1px;
  border: 1px solid $light-grey;
  margin: 1em auto;
}

#create-comment {
  width: 500px;
  margin: 20px auto;
  text-align: right;
}

.new-comment {
  background-color: $white;
  height: 100px;
  width: 500px;
  display: block;
  padding: 3px;
  border: 1px solid $light-grey;
  text-align: left;
}

.comment-trip-id {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid $light-grey;
  margin-top: 1em;
  margin-right: .5em;
  width: 100px;
}

.comment-add-margin {
  margin-top: 1em;
}

.single-trip-page {
  display: none;
}

.change-password {
  display: none;
}

.log-in-format {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid $light-grey;
  margin: 30px auto;
  display: block;
}

.change-pwd-format {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid $light-grey;
  display: block;
  margin: 30px auto;
}

.trip {
  background-color: $white;
  text-align: left;
  float: left;
  margin: 2em;
  padding: 3em;
  border: .5px $light-grey solid;
}

#trip {
  margin: 20px auto;
  text-align: center;
  background-color: blue;
}

footer {
  text-align: center;
  margin: 3em 0;
}


.submit-button {
  background-color: $dark-grey;
  border-radius: 0;
  border: 0;
}

.submit-button:hover {
  background-color: $medium-grey;
}

.btn-default {
  border-radius: 0;
}

.modal-row {
  margin: 15px auto;
}

.modal-content {
  width: 600px;
}
//
// .fixed {
//   position: absolute;
//   bottom: 40px;
//   right: 0;
//   left: 0;
// }
