.entry-screen {
  width: 100%;
  height: 100%;
  padding: 30px 0 200px 0;
  background: url('../road2.jpg') no-repeat center center fixed;
  background-size: cover;
}

.red {
  color: $red;
}

header {
  text-align: center;
}

.user-nav {
  text-align: right;
  margin: 1em;
}

.log-in {
  text-align: center;
  width: 300px;
  margin: 0 auto;
  padding-top: 10px;
  background-color: $white;
  font-size: 12px;
}

.change-password {
  display: none;
}

.log-in-format {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid $light-grey;
  margin: 20px auto;
  display: block;
}

.log-in-format > input {
  background-color: $red;
}

.change-pwd-format {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid $light-grey;
  display: block;
  margin: 30px auto;
}

.container {
  margin: 20px auto;
  background-color: $white;
}

.user-page {
  display: none;
  background-color: $white;
}

.edit-comment-page {
  display: none;
  margin: 2em auto 5.5em;
  text-align: left;
  width: 500px;
  background-color: $white;
}

.comment-module {
  width: 500px;
  display: block;
  margin: 2em auto;
  text-align: right;
}

.original-post {
  color: $light-grey;
  width: 500px;
  text-align: left;
  margin: 2em auto;
}

.comment-to-edit {
  width: 500px;
  display: block;
  color: $light-grey;
  border: 1px solid $light-grey;
}

.comment {
  padding: 10px;
  height: 100px;
  border: 1px solid $light-grey;
  margin: 5px auto;
}

#create-comment {
  width: 500px;
  height: 100px;
  margin: 20px auto;
  text-align: right;
}

#edit-comment {
  width: 500px;
  height: 100px;
  margin: 20px auto;
  text-align: right;
}

.comment-input {
  background-color: $white;
  width: 500px;
  height: 100px;
  display: block;
  padding: 3px;
  border: 1px solid $light-grey;
  text-align: left;
}

.comment-trip-id {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid $light-grey;
  margin-top: 1em;
  margin-right: 0.5em;
  width: 100px;
}

.comment-add-margin {
  margin-top: 1em;
}

.single-trip-page {
  display: none;
  margin: 2em auto 5.5em;
  text-align: left;
  width: 500px;
  background-color: $white;
}

#trip-page {
  width: 500px;
  margin: 0 auto;
}

.trips-wrapper {
  width: 660px;
  margin: 0 auto;
}

.trip {
  float: left;
  text-align: left;
  margin: 10px;
}

.trip-label {
  padding-top: 10px;
}

.trip-info {
  text-align: left;
}

footer {
  text-align: center;
  margin: 3em 0;
}

.nav-buttons {
  margin: 1em 5px;
  border-radius: 0;
  border: 0;
  background-color: $white;
}

.add-margin {
  margin-top: 10px;
}
