body {
  font-size: 16px;
  font-family: 'Heebo', sans-serif;
  font-weight: 300;
}

h1 {
  font-family: 'Satisfy', cursive;
  font-size: 5.5em;
  color: $red;
  padding: 40px 0 20px 0px;
  margin: 0;
}

h2 {
  font-family: 'Satisfy', cursive;
  font-size: 3em;
  color: $red;
}

.user-page {
  color: $dark-grey;
  text-align: center;
}

.comment {
  text-align: left;
}

.text-align-left {
  text-align: left;
}

.trip-label {
  color: $medium-grey;
  font-size: 0.8em;
}

h3 {
  font-size: 16px;
}

.spring {
  background-color: $spring;
}

.summer {
  background-color: $summer;
}

.fall {
  background-color: $fall;
}

.winter {
  background-color: $winter;
}

.artsy {
  background-color: $artsy;
}

.boozy {
  background-color: $boozy;
}

.foodie {
  background-color: $foodie;
}

.outdoorsy {
  background-color: $outdoorsy;
}
