<div class="original-post">
  <p>Original Post</p>
    <div class="comment-to-edit" data-id={{comment.id}}>
      <span id="comment-trip-id" data-id={{comment.trip.id}}></span>
      <h4>{{comment.trip.name}}</h4>
      <p>"{{comment.comments}}"</p>
    </div>

</div>
