<div class="trips-wrapper">
  {{#each trips}}
    <span class="trip" data-id={{id}}>
      <img src={{photo}} alt="trip photo"/>
      <p class="trip-label">{{name}}</p>
    </span>
  {{/each}}
  <p class="log-in-note">
    Have a trip we should add?
    <a class="email" href="mailto:hello@jennifer-boyd.com?Subject=Boston%20Day%20Trips:%20Add%20This%20Trip" target="_top">
    Email Us!
    </a>
  </p>
</div>
