<div class="trips-wrapper">
  {{#each trips}}
    <span class="trip" data-id={{id}}>
      <img src={{photo}} alt="trip photo"/>
      <p class="trip-label">{{name}}</p>
    </span>
  {{/each}}
</div>
